<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 社区项目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入BootStrap的css文件/主题文件-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--引入自己定义的样式-->
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.css" />
    <!--引入 jQuery 和 Bootstrap 的 js-->
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>提问</span>
            </h2>
            <hr>
            <!-- POST -->
            <form action="\publish" method="post">
                <!-- hidden 的效果：隐藏着传递一个参数 id 传递给后端-->
                <input type="hidden" name="id" th:value="${id}">
                <!-- 问题标题 -->
                <div class="form-group">
                    <label for="title">问题</label>
                    <input name="title" id="title" type="text" class="form-control" th:value="${title}"
                           placeholder="问题标题...." autocomplete="off">
                </div>
                <!-- 问题详情 -->
                <div class="form-group" id="question-editor">
                    <label for="description">问题详情</label>
                    <textarea name="description" id="description"
                              th:text="${description}" class="form-control"
                              cols="30" rows="10"
                              style="display:none;"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width  : "100%",
                            height : 350,
                            path   : "/lib/",
                            delay : 0,
                            watch : false,
                            placeholder : "请输入问题描述"
                        });
                    });
                </script>
                <!-- 问题标签 -->
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input name="tag" id="tag" type="text" th:value="${tag}" class="form-control"
                           placeholder="输入标签，以英文逗号分割"
                           autocomplete="off"
                           onclick="showSelectTag()">
                    <!-- 可选标签 -->
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"
                                th:each="selectCategory, selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a class="nav-link" id="home-tab" data-toggle="tab" role="tab"
                                   th:href="${'#'+selectCategory.categoryName}"
                                   th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel"
                                 th:each="selectCategory, selectCategoryStat: ${tags}"
                                 th:id="${selectCategory.categoryName}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane publish-tag-tab-content':'tab-pane publish-tag-tab-content'}">
                                <span class="label label-info question-tag"
                                      th:each="selectTag : ${selectCategory.tags}">
                                <span class="glyphicon glyphicon-tags"
                                      onclick="selectTag(this)"
                                      th:data-tag="${selectTag}"
                                      th:text="${'  '+selectTag}"></span>
                            </span></div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:if="${error != null}"
                                 th:text="${error}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            · 测试 <br>
            · 测试 <br>
            · 测试 <br>
        </div>
    </div>
</div>
</body>
</html>